@import url('https://fonts.googleapis.com/css2?family=Antonio&display=swap');
@import "@fontsource/spartan";
@import "@fontsource/spartan/700.css";
@import './variables.css';

* {
  box-sizing: border-box;
}

html, body, p {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: 'Spartan', sans-serif;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
  background-image: url(../assets/background-stars.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.flex-row-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-text,
.large-header,
.big-header {
  font-family: 'Antonio', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.logo-text {
  font-size: 1.75rem;
}

.base-link {
  cursor: pointer;
  color: var(--main-text-color);
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 1.35px;
  line-height: 25px;
  text-transform: uppercase;
}
@media(min-width: 700px) {
  .base-link {
    font-size: .7rem;
    letter-spacing: 1px;
  }
}
@media (min-width: 1024px) {
  .base-link {
    position: relative;
  }
  .base-link:hover::after,
  .base-link:focus::after {
    content: "";
    position: absolute;
    top: -36px;
    left: 0;
    height: 4px;
    width: 100%;
    background-color: var(--link-after-color);
  }
}
