@import url('https://fonts.googleapis.com/css2?family=Antonio&display=swap');
@import "@fontsource/spartan";
@import "@fontsource/spartan/700.css";
@import './variables.css';

* {
  box-sizing: border-box;
}

html, body, p {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: 'Spartan', sans-serif;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
  background-image: url(../assets/background-stars.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.uppercase-text {
  text-transform: uppercase;
}

.hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
}

.logo-text,
.large-header,
.big-text {
  font-family: 'Antonio', sans-serif;
  font-weight: 400;
}

.logo-text {
  font-size: 1.75rem;
}

.large-header {
  font-size: 2.5rem;
  margin: 0 0 16px;
}
@media (min-width: 700px) {
  .large-header {
    font-size: 3rem;
    margin: 0 0 24px;
  }
}
@media (min-width: 1280px) {
  .large-header {
    font-size: 5rem;
  }
}

.big-text {
  font-size: 1.25rem;
  letter-spacing: -0.75px;
}
@media (min-width: 700px) {
  .big-text {
    font-size: 1.5rem;
    letter-spacing: -0.9px;
  }
}
@media (min-width: 1280px) {
  .big-text {
    font-size: 2.5rem;
    letter-spacing: -1.5px;
  }
}
