.section-menu {
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--low-opacity-border-color);
}
@media (min-width: 700px) {
    .section-menu {
        padding: 0;
        border-bottom: none;
        grid-area: section-menu;
        flex-direction: column;
        gap: 16px;
        justify-content: center;
        align-items: stretch;
    }
}

.section-menu-item {
    cursor: pointer;
    font-size: .56rem;
    color: var(--low-opacity-text-color);
    font-weight: 700;
}
@media (min-width: 700px) {
    .section-menu-item {
        border: 1px solid var(--low-opacity-border-color);
        padding: 10px 20px 8px;
        color: var(--main-text-color);
        min-width: 280px;
    }
}
@media (min-width: 1280px) {
    .section-menu-item {
        padding: 12px 28px 10px;
        font-size: .75rem;
    }
}

@media (min-width: 1280px) {
    .section-menu-item-inactive:hover {
        border-color: transparent;
        background-color: rgba(216, 216, 216, .2);
    }
}

.section-menu-item-active {
    position: relative;
    color: var(--main-text-color);
}
@media (max-width: 699px) {
    .section-menu-item-active::after {
        content: "";
        position: absolute;
        top: 27px;
        left: 0;
        height: 4px;
        width: 100%;
        background-color: var(--link-after-color);
    }
}
@media (min-width: 700px) {
    .section-menu-item-active {
        background-color: var(--link-after-color);
        border-color: var(--link-after-color);
    }
}


.section-menu-item-number {
    display: none;
}
@media (min-width: 700px) {
    .section-menu-item-number {
        display: inline;
        margin-right: 17px;
        color: var(--low-opacity-text-color);
    }
}
@media (min-width: 1280px) {
    .section-menu-item-number {
        margin-right: 25px;
    }
}